.promotion_wrapper > div {
  display: grid;
  grid-template-areas:
    'promotion_type promotion_type'
    'company bank'
    'promotion promotion'
    'rating rating';
  grid-template-columns: 1fr max-content;
  gap: 1rem;
}

.promotion_wrapper > div::before,
.promotion_wrapper > div::after {
  display: none !important;
}

.company_header {
  grid-area: company;
}

.bank_header {
  grid-area: bank;
}

.promotion {
  grid-area: promotion;
}

.rating {
  grid-area: rating;
}

.promotion_type {
  grid-area: promotion_type;
  justify-self: self-end;
  margin: 0;
  cursor: default;
}
