.header {
  box-shadow: 0 0 0.5rem rgba(0, 0, 0, 0.25);
}

.header_content {
  display: grid;
  grid-template-areas: 'logo navigation auth_buttons';
  justify-content: space-between;
  align-items: center;
  padding: 1em;
}

.logo {
  grid-area: logo;
}

.navigation {
  grid-area: 'navigation';
}

.profile_btn {
  grid-area: 'auth_buttons';
}
